.env

# uniswap governance substream sql sink related files
.substreams.env
uniswap-governance-sink/src/abi/
uniswap-governance-sink/src/pb/
uniswap-governance-sink/target/
Cargo.lock
replay.log

*venv/
__pycache__/
*.pyc